@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

canvas {
    border: 1px solid #111;
}

.toolbox {
    width: 500px;
    padding: 1rem;
    display: flex;
}

.toolbox > * {
    padding: 0.25rem;
    font-size: 2rem;
    border: none;
    background-color: pink;
    width: 50px;
    outline: none;
    display: inline-flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    margin: 0.25rem;
}

.toolbox > *:last-child {
    margin-left: auto;
    width: fit-content;
    background-color: rgb(233, 99, 99);
    color: #fff;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
}